@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.website {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar, .header, .footer, .services, .testimonial, .cta-section {
    padding-left: 220px;
    padding-right: 220px;
}

.navbar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.navbar-right {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #f7f7f7;
    text-decoration: none;
}


.header {
    background-color: #1f2937;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.header-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 100px;
    gap: 20px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.header-text {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.signup-button button {
    padding: 10px 38px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.header-right {
    width: 50%;
}

.header-photo img {
    width: 100%;
}

.services {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 150px;
    gap: 50px;
    align-items: center;
}

.services-top {
    font-size: 36px;
    font-weight: 900;
}

.services-bottom {
    width: 80%;
    display: flex;
    gap: 20px;
}

.service {
    width: 200px;
}

.service img {
    width: 165px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.services-text {
    width: 80%;
    text-align: center;
    color: #67707C;
}


.testimonial {
    background-color: #E4E7EB;
    color: #414A57;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 110px;
    gap: 10px;
    padding-left: 355px;
    padding-right: 355px;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.testimonial-right {
    display: flex;
    align-self: flex-end;
}

.testimonial-person {
    font-size: 25px;
    font-weight: 600;
}

.cta-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.cta-container {
    background-color: #3B81F6;
    padding: 50px 120px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 3px;
    color: white;
}

.cta-text {
    margin-top: 3px;
    color: white;
    font-weight: 400;
}

.cta-right button {
    padding: 10px 38px;
    background-color: #3B81F6;
    border: 2px white solid;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    
}


.footer {
    background-color: #1F2937;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: white;
    font-weight: 400;
}